
.hero {
    background: url('../../assets/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    width: 100%;

}
.btn {
  border-radius: 0;
}

.card-header:first-child {
  border-radius: 0;
}

.form-control {
  border-radius: 0;
}

.alert {
  border-radius: 0;
}

.nav-tabs .nav-link {
  cursor: pointer;
}

.dropdown-toggle::after {
  display: none;
}

